*{
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Mukta', sans-serif;
}

body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.titulo{
    font-size: 40px;
}

.texto{
    font-size: 18px;
}

@media screen and (max-width: 700px){
    .texto{
        font-size: 15.5px;
    }

    .titulo{
        font-size: 28px;
    }
}

/*Nav*/

.navFont, .iconoLogo{
    color: #fff !important;
    letter-spacing: 1px;
}
.navFont:hover{
    transition: background-color .3s ease-in-out;
    background-color: #006F14;
    height: 100%;
}

.navColor{
    background-color: green;
}

/*Nav*/

/*Slider*/
.carousel {
    margin: 0 auto;
}



.carousel-caption{
    top: 50%;
}

.carousel-item{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.imgSlider{
    width: auto;
    height: 100%;
    float: center;
}

@media screen and (max-width: 900px){
    .imgSlider{
        height: 500px;
    }
}

@media screen and (max-width: 700px){
    #carrusel{
        display: none;
    }
}

/*Slider*/

@media (max-width: 700px){
    .card-title{
        text-align: center;
    }
}

/*Tarjetas*/
.colCard{
    padding-left: 20px;
    padding-right: 20px;
}

.card:hover{
    
    transition: box-shadow .3s ease-in-out;
}

.card-body{
    text-align: justify;
}

#c1:hover{
    transition: background-color .3s ease-in-out;
    background-color: #db003b;
    box-shadow: 5px 5px 5px gray;
}

#c2:hover{
    transition: background-color .3s ease-in-out;
    background-color: #06a2a8;
    box-shadow: 5px 5px 5px gray;
}

#c3:hover{
    transition: background-color .3s ease-in-out;
    background-color: #7de400;
    box-shadow: 5px 5px 5px gray;
}

#gallery .card-body{
    text-align: justify;
}

#gallery .card-body h5{
    text-align: center;
}

#tituloTarjetas{
    margin-bottom: 5%;
}
/*Tarjetas*/


/*Somos*/
#imgTarjeta{
    margin-left: 10%;
    width: auto;
    height: 100%;
}


.imgSomos{
    max-width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .imgSomos{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .media-body{
        margin-top: 100px;
    }
}
@media screen and (max-width: 576px){
    .media-body{   
        margin-top: 50px;
    }
}

.cuerpo{
    padding: 5%;
    width: 100%;
    height: 100%;
}
/*Somos*/

/*Texto sobre img*/
.colTextoImg{
    color: white;
    text-align: justify;
}

#tarjetas{
    padding: 5%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}


#contenedor{
    margin: 0px;
    padding: 5%;
    width: 100%;
    height: 400px;
    background-image: url("../img/guanajuato.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    margin-top: 50px;
    margin-right: 0;
}

#tituloImg{
    color: white;
    margin-bottom: 5%;
}
/*Texto sobre img*/


/*Form*/

@media screen and (max-width: 700px){
    article .row .col{
    flex: 0 0 100%;
    }
    .row{
        display: block;
    }
    .footer-copyright{
        max-width: 100%;
        margin-bottom: 10px;
    }
}

#registration-form{
	max-width: 900px;
	margin: 30px auto;
    display: flex;
}
#registration-form .image{
	flex: 0 0 calc(50%);
    background-image: url("../img/contactanos.jpg");
	height: 500px;
	width: 50%;
	background-size: cover;
	background-position: 25%;
}
#registration-form .frm{
    flex: 0 0 calc(50%);
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: white;
    border: solid 2px green;
}

#registration-form h1{
	margin-top: 30px;
	margin-bottom: 20px;
}

@media (max-width: 700px){
    #registration-form h1{
        font-size: 30px;
    }
}

#registration-form .form-control{
	width: 90%;
	padding: 12px 20px;
	height: auto;
}

@media screen and (max-width: 700px){
	#registration-form .image{
		width: 30%;
	    background-position: 60%;
	}

	#registration-form .frm{
		width: 70%;
	}

	#registration-form .form-control{
		width: 100%;
	}
}

@media screen and (max-width: 650px){
	#registration-form .image{
		display: none;
	}

	#registration-form .frm{
		flex: 0 0 calc(100%);
        text-align: center;
	}

	#registration-form h1{
		text-align: center;
	}

	#registration-form .btn{
		width: 100%;
		margin-top: 20px;
	}

    /*Form*/
}
